.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
  height: 100px;
}

.navbar > ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
}

.navbar > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  padding: 5px;
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
  margin: 5px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
}

.filter-btn {
  margin: 5px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shimmer-card {
  width: calc(20% - 10px); 
  height: 200px; 
  background: linear-gradient(to right, transparent 0%, #d6d3d1 50%, transparent 100%);
  margin-bottom: 20px; 
  position: relative;
  overflow: hidden;
}

.shimmer-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 300%; 
  height: 100%;
  background: linear-gradient(to right, transparent 0%, #e7e5e4 50%, transparent 100%);
  animation: shimmerAnimation 1.5s infinite linear; 
}

@keyframes shimmerAnimation {
  100% {
    left: 150%;
  }
}